html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: rgb(211, 221, 213);
}

.parent {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
}

.novel-name {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.card-novel {
  width: 50vh;
  border: 1rem solid #d16b6b;
  padding-top: 2rem;
  padding-bottom: 10rem;
  text-align: center;
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  box-shadow: 1rem 1rem 1rem #000000;
}

.card-header {
  font-size: 10rem;
  text-align: center;
  padding: 1rem;
  border: 1rem solid #d16b6b;
  margin-left: 69rem;
  margin-right: 69rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 8px #000000;
}

#ze-tian:hover {
  transform: scale(1.1);
}

#ze-tian {
  transition: all 0.5s;
}
